/*初始化样式*/

* {
	padding: 0;
	margin: 0;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: #fff;
}


/*top条*/

.topSearchBox {
	height: 50px;
	border-bottom: solid 1px #E4E4E4;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.topSearchBox .mint-search{
	height: auto;
}
.topSearchBox .mint-searchbar {
	background-color: #fff;
}

.topSearchBox .mint-searchbar-inner,
.topSearchBox .mint-searchbar-core {
	background-color: #F5F5F9;
	border-radius: 5px;
}

.topSearchBox .mint-searchbar-core {
	padding-left: .3rem;
}

.topSearchBox .mint-searchbar-inner .mintui-search {
	font-size: .8rem;
}

.topSearchBox .mint-searchbar-cancel {
	font-size: .65rem;
}


/*警示top tab切换*/
.warningBox {
	margin-top: 95px;
}
.warningBox .topBar {
	position: fixed;
	top: 50px;
	z-index: 1000;
	width: 100%;
}

.warningBox .topBar .mint-tab-item-label {
	font-size: .66rem;
	height: 1rem;
	line-height: 1rem;
}

.warningBox .topBar .mint-navbar .mint-tab-item {
	padding: 10px 0;
	color: #999999;
}

.warningBox .topBar .mint-navbar .mint-tab-item.is-selected {
	color: #0066FF;
	margin-bottom: 0;
	border-bottom: none;
}

.warningBox .topBar .mint-navbar .mint-tab-item.is-selected .mint-tab-item-label {
	border-bottom: solid 3px #0066FF;
}

.warningBox .conBox {
	margin: 50px 0;
}


/*警示 列表*/

.allWarn li {
	width: 96%;
	margin: 5px 2%;
	list-style: none;
}

.allWarn li .warnListBox {
	border-bottom: solid 1px #E4E4E4;
	position: relative;
}
.allWarn .warnListBox h4 i{
	position: absolute;
    top: .1em;
    left: .5em;
    display: block;
    width: 1em;
    height: 1em;
    background-color: #FFDF25;
    border-radius: 50%;
    float: left;
}
.allWarn .warnListBox h4 {
	text-indent: 2em;
	font-size: .69rem;
	color: #000;
	font-weight: normal;
}

.allWarn .warnListBox p {
	font-size: .58rem;
	color: #8f8484;
}

.allWarn .warnListBox span {
	font-size: .58rem;
	color: #8f8484;
	margin-right: .2rem;
}
