<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="./../libs/mint-ui/style.css" rel="stylesheet" />
		<link href="./../libs/global/common.css" rel="stylesheet" />
		<link href="./search.css" rel="stylesheet" />
	</head>

	<body>
		<div id="app">
			<!--顶部条-->
			<div class="topSearchBox">
				<mt-search v-model="value" cancel-text="取消" placeholder="搜索">
				</mt-search>
			</div>
			<div style="width: 94%; margin: 0 auto;">
				<!--搜索指定内容-->
				<div class="specifiedCon">
					<p>搜索指定内容</p>
					<ul>
						<template v-for="item in 10">
							<li><span>国内舆情</span></li>
						</template>
						<div style="clear: both;">
						</div>
					</ul>
				</div>
				<!--历史搜索-->
				<div class="historyList">
					<p>历史搜索</p>
					<ul>
						<template v-for="item in 10">
							<li><span>国内舆情</span></li>
						</template>
						<div style="clear: both;">
						</div>
					</ul>
				</div>
				<div>
					<div class="topBar">
						<mt-navbar v-model="warningSelected">
							<mt-tab-item id="网络热搜">网络热搜</mt-tab-item>
							<mt-tab-item id="省内热搜">省内热搜</mt-tab-item>
							<mt-tab-item id="市内热搜">市内热搜</mt-tab-item>
							<div class="changeArt">换一换</div>
						</mt-navbar>
					</div>

					<div class="conBox">
						<!-- tab-container -->
						<mt-tab-container v-model="warningSelected">
							<mt-tab-container-item id="网络热搜" class="allWarn">
								<mt-loadmore :top-method="loadTop" ref="loadmore">
									<ul>
										<li v-for="(item,index) in 4">
											<div class="warnListBox">
												<span class="bgColor" v-if='index<3'>20</span>
												<span v-if='index>2'>20</span>
												<span>汉口银行举行“新时代 新机遇 新征程”座座...</span>
												<span style="width: 2.1rem;">546972</span>
												<div style="clear: both;"></div>
											</div>
										</li>
									</ul>
								</mt-loadmore>
							</mt-tab-container-item>
							<mt-tab-container-item id="省内热搜" class="allWarn">
								<mt-loadmore :top-method="loadTop" ref="loadmore">
									<ul>
										<li v-for="(item,index) in 4">
											<div class="warnListBox">
												<span class="bgColor" v-if='index<3'>1</span>
												<span v-if='index>2'>1</span>
												<span>抵押物或者其他担保物的价款超过其所担保的债务数额的,</span>
												<span style="width: 2.1rem;">54695572</span>
												<div style="clear: both;"></div>
											</div>
										</li>
									</ul>
								</mt-loadmore>
							</mt-tab-container-item>
							<mt-tab-container-item id="市内热搜" class="allWarn">
								<mt-loadmore :top-method="loadTop" ref="loadmore">
									<ul>
										<li v-for="(item,index) in 4">
											<div class="warnListBox">
												<span class="bgColor" v-if='index<3'>15</span>
												<span v-if='index>2'>15</span>
												<span>截取字符串效率要高得多而且也更简单 </span>
												<span style="width: 2.1rem;">546972</span>
												<div style="clear: both;"></div>
											</div>
										</li>
									</ul>
								</mt-loadmore>
							</mt-tab-container-item>
						</mt-tab-container>
					</div>
				</div>
			</div>
		</div>
		<script src="./../libs/vue/vue-2.5.2.min.js"></script>
		<script src="./../libs/mint-ui/index.js"></script>
		<script src="./../libs/global/common.js"></script>
		<script src="./search.js"></script>
	</body>

</html>